<div *ngIf="info?.storage">
    <div class="d-flex">
        <div *ngFor="let path of info.storage.pathCatalogRoot.pathCatalogs">
            <a href="gallery/?pathCatalog={{path.pathName}}">
                <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor"
                    class="bi bi-card-image" viewBox="0 0 16 16">
                    <path
                        d="M9.828 3h3.982a2 2 1 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.825a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31L.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3zm-8.322.12C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139z" />
                </svg>
                <h5 class="card-title">{{path.pathName}}</h5>
            </a>
        </div>

        <div *ngFor="let file of info.storage.pathCatalogRoot.files">
            <a (click)="getFile(file.name, file.id)" data-bs-toggle="modal" data-bs-target="#fileModal">
                <img *ngIf="file.url; else errorPreview" [src]="file.url" id="file2">
                <ng-template #errorPreview>
                    <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor"
                        class="bi bi-file-earmark-excel" viewBox="0 0 16 16">
                        <path
                            d="M5.884 6.68a.5.5 0 1 0-.768.64L7.349 10l-2.233 2.68a.5.5 0 0 0 .768.64L8 10.781l2.116 2.54a.5.5 0 0 0 .768-.641L8.651 10l2.233-2.68a.5.5 0 0 0-.768-.64L8 9.219l-2.116-2.54z" />
                        <path
                            d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z" />
                    </svg>
                    <h5 class="card-title">{{file.name}}</h5>
                </ng-template>
            </a>
        </div>
    </div>

    <div class="modal fade" id="fileModal" tabindex="-1" aria-labelledby="fileModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="fileModalLabel">{{nameFile}}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                    <div *ngIf="errorMessage">
                        <div class="row">{{errorMessage}}</div>
                    </div>
                    <figure>
                        <div *ngIf="typeFile === 'video'">
                            <video [src]="urlFile" id="file" width="100%" controls></video>
                        </div>
                        <div *ngIf="typeFile === 'image'">
                            <img height="100%" [src]="urlFile" id="file1">
                        </div>
                    </figure>
                    <div class="modal-footer">
                        <div class="likes" (click)="setLike()">
                            <svg *ngIf="!isLike; else like" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                <path
                                    d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                            </svg>
                            <ng-template #like>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                    class="bi bi-heart-fill" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                                </svg>
                            </ng-template>
                            <h2>{{fileLikes}}</h2>
                        </div>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>