figure {
    text-align: center;
}

figure img {
    max-width: 100%;
    max-height: 66vh;
    min-height: 66vh;
}

figure video {
    max-width: 100%;
    max-height: 66vh;
    min-height: 66vh;
}

.d-flex {
    flex-wrap: wrap;
}

.d-flex div {
    margin-top: 12px;
    margin-left: 6px;
    width: 162px;
    height: 96px;
    text-align: center;
}

.d-flex div img {
    cursor: pointer;
    max-height: 75px;
}

.card-title{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.likes{
    display: flex;
    width: 51px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}