<div *ngIf="isLoggedIn; else loggedOut">
  <h1>{{hello}}</h1>
</div>

<ng-template #loggedOut>
  <div class="row col-sm-6 ms-3" style="max-width:350px;">
    <form name="form" (ngSubmit)="onSubmit()" #f="ngForm" novalidate>
      <div class="mb-3">
        <label for="login" class="form-label">Логин</label>
        <input type="text" class="form-control" name="login" [(ngModel)]="form.login" #login="ngModel" required>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Пароль</label>
        <input type="password" class="form-control" name="password" [(ngModel)]="form.password" #password="ngModel">
      </div>
      <button class="btn btn-primary">Отправить</button>
    </form>
    <hr class="mt-3" />
    <p>Don't have an account?</p>
    <a href="signup" class="btn btn-success">Sign Up</a>
  </div>
</ng-template>